@import url('https://fonts.googleapis.com/css?family=Rajdhani|Poiret+One|Advent+Pro');

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100%;
    background: linear-gradient(
    rgba(126, 0, 255, 0.8), 
    rgba(0, 171, 242, 0.95)),
    url("../img/landing.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro {
    font-family: 'Poiret One', cursive;
}

#intro h1 {
    margin-top: 100px;
    font-size: 70px;
    letter-spacing: 10px;
    opacity: 0.8;
}

#intro p {
    font-size: 20px;
    opacity: 0.6;
}

#player {
    display: none;
}