#seeYt {
    background-color: transparent !important;
    border: 1px solid white;
    display: none;
}

.radioOptions {
    font-size: 120px !important;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.radioOptions:hover {
    opacity: 1;
}

.radioBG {
    background: linear-gradient(
    rgba(118, 0, 255, 0.8), 
    rgba(0, 255, 242, 0.95)),
    url("../img/background/radio1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1337;
    overflow: hidden;
}

.radioCont {
    font-family: 'Poiret One', cursive;
    padding-top: 50px;
    opacity: 1 !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: 1337;
    overflow: hidden;
}

.radioCont h1 {
    margin-top: 0 !important;
}

.barCont h5 {
    letter-spacing: 2px;
    font-size: 25px;
}

#progressBar {
    height: 24px;
    opacity: 0.5;
    border: 0.5px solid white;
    margin-bottom: 50px;
}

#currentProgress {
    z-index: 1337;
    height: 100%;
    width: 0%;
    background-color: white;
}

#currentSongTitle {
    margin-top: 5px;
}

#commingUpSongTitle {
    clear: both;
    font-size: 20px;
    margin-bottom: 5px;
}

#commingUpCont {
    margin-right: 10px;
}

#commingUpCont span {
    margin-right: 3px;
    margin-bottom: 5px;
}

#songTotalDuration {
    float: right;
}

.streamerCont {
    margin: 0 auto;
}

.barCont {
    font-family: 'Advent Pro', sans-serif;
    clear: both;
    position: absolute;
    top: 80%;
    width: 100%;
}

.sidenav-overlay {
    z-index: 1338 !important;
}

#slide-out {
    z-index: 1339 !important;
}

#sidenavTrigger {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2000;
    margin-top: 15px;
    margin-right: 20px;
    opacity: 0.8;
    cursor: pointer;
}

#sidenavTrigger:hover {
    opacity: 1;
}

#sidenavTrigger i {
    font-size: 30px;
}

#songInfo {
    transition: 1s;
    opacity: 0;
}

.playing {
    animation: zoom 1.5s infinite linear;
}

.user-view {
    min-height: 20vh;
    margin-bottom: 0 !important;
    transition: all 0.5s;
}

.user-view:hover {
    opacity: 0.7;
}

#slide-out {
    background: #212121;
}

.sideHomeLink {
    font-family: 'Advent Pro', sans-serif;
    opacity: 0.5;
    letter-spacing: 2px;
    font-size: 25px;
    padding-bottom: 15px;
}

.sidenav-overlay {
    background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 1)) !important;
}

#volumeCont {
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    z-index: 1339 !important;
    margin-right: 20px;
    display: none;
}

#volumeRow {
    padding: 0 !important;
}

.volIco {}

#volumeCont i {
    margin-top: 4px;
}

#volumeCont .volumeDown {
    float: left;
}

#volumeCont .volumeUp {
    float: right;
}

#volume {
}

input[type=range] {
    border: none !important;
    background-color: white !important;
}

input[type=range]::-webkit-slider-thumb {
    background-color: white !important;
  }
  input[type=range]::-moz-range-thumb {
    background-color: white !important;
  }
  input[type=range]::-ms-thumb {
    background-color: white !important;
  }

@keyframes zoom {
	0% {
		transform: scale(1);
    }
    
    33% {
		transform: scale(1.033);
    }
    
    66% {
		transform: scale(1.066);
    }
    
    100% {
		transform: scale(1);
	}
}