#seeYt {
    background-color: transparent !important;
    border: 1px solid white;
    display: none;
}

.radioOptions {
    font-size: 120px !important;
    opacity: 0.7;
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.radioOptions:hover {
    opacity: 1;
}

.radioBG {
    background: linear-gradient(
    rgba(118, 0, 255, 0.8), 
    rgba(0, 255, 242, 0.95)),
    url("../img/background/radio1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poiret One', cursive;
    overflow: hidden;
}

#progressBar {
    height: 24px;
    opacity: 0.5;
    border: 0.5px solid white;
    margin-bottom: 50px;
}

#currentProgress {
    z-index: 1337;
    height: 100%;
    width: 0%;
    background-color: white;
}

#songTotalDuration {
    float: right;
}

.barCont {
    clear: both;
}

.streamerCont {
    width: 100%;
    margin: 0 auto;
}

.barCont {
    position: absolute;
    top: 80vh;
    width: 90%;
    left: 5%;
}